@font-face {
  font-family: 'drxgonfly';
  src:  url('fonts/drxgonfly/drxgonfly.eot?doq0lk');
  src:  url('fonts/drxgonfly/drxgonfly.eot?doq0lk#iefix') format('embedded-opentype'),
    url('fonts/drxgonfly/drxgonfly.ttf?doq0lk') format('truetype'),
    url('fonts/drxgonfly/drxgonfly.woff?doq0lk') format('woff'),
    url('fonts/drxgonfly/drxgonfly.svg?doq0lk#drxgonfly') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="drx-"], [class*=" drx-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'drxgonfly' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drx-drxgonfly:before {
  content: "\e900";
}
.drx-drxgonfly-left:before {
  content: "\e901";
}
.drx-drxgonfly-right:before {
  content: "\e902";
}

